.link {
    text-decoration: none;
    font-size: 14px;
    color: black;
    width: 40px;
    height: 15px;}
.link:hover {
    font-weight: bold;}
.link:active {
    font-weight: bold;}
.button {
    padding: 10px 20px;
    background-color: #3341C8;
    width: 120px;
    height: 40px;
    color: white;
    text-wrap: center;
text-decoration: none;}
.button:hover {
    color: #3341C8;
    background-color: white;}
.buttonszone {
    display: flex;
    gap: 15px;}
.buttonszone a:last-child {
    color: #3341C8;
    background-color: white;}
   
.buttonszone a:last-child:hover {
    background-color: #3341C8;
    color: white;
    width: 120px;} 
.buttonszone a:last-child:active {
    background-color: #3341C8;
    color: white;
    width: 120px;}

