* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {
    background-color: #3B1C55;
    width: 100%;
    padding-bottom: 60px;}
main {
    background-color: #F2C6BD;
    margin-top: 60px;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    position: relative;
    height: 80vh;
    padding-top: 20px;}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 15px;}
.logo_box {
    display: flex;
    margin-right: 180px;
    margin-left: 50px;}
.pbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 150px;}
.headp1 {
    font-weight: bold;
    font-size: 14px;}
.headp2 {
    font-size: 14px;
    word-wrap: normal;
    color: gray;}
aside.content {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    margin-top: 60px;
    gap: 40px;
    margin-left: 60px;}
.image {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 435px;
    height: 300px;}
.maintitle {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;}
.titlecontent {
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;}